@import "./icon/menu";
@import "./icon/more";

.menu2 {
	box-sizing:border-box;
	position:relative;
	width:2em;
	height:2em;
	background-color:#000;
	border-radius:50%;
	cursor:pointer;
}
.menu2:before {
	box-sizing:border-box;
	content:"";
	position:absolute;
	top:0;
	left:-.75em;
	width:.5em;
	height:.5em;
	background-color:#000;
	border-radius:50%;
}
.menu2:after {
	box-sizing:border-box;
	content:"";
	position:absolute;
	top:0;
	left:.75em;
	width:.5em;
	height:.5em;
	background-color:#000;
	border-radius:50%;
}